.heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .inputContainer {
    margin-bottom: 1rem;
  }
  
  .inputIcon {
    color: #3880ff;
  }
  
  .inputField {
    width: 100%;
  }
  
  ion-button {
    margin-top: 1rem;
  }
  