<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Nombre Completo -->
      <ion-item>
        <ion-input
          [(ngModel)]="nombre"
          placeholder="Nombre Completo"
          type="text"
        ></ion-input>
      </ion-item>
      <!-- Nombre de Usuario -->
      <ion-item>
        <ion-input
          [(ngModel)]="usuario"
          placeholder="Correo DuocUC"
          type="text"
        ></ion-input>
      </ion-item>
      <!-- Contraseña -->
      <ion-item>
        <ion-input
          [(ngModel)]="password"
          placeholder="Contraseña"
          type="password"
        ></ion-input>
      </ion-item>
      <!-- Rol -->
      <ion-item>
        <ion-select
          [(ngModel)]="role"
          placeholder="Selecciona un rol"
        >
          <ion-select-option value="profesor">Profesor</ion-select-option>
          <ion-select-option value="estudiante">Estudiante</ion-select-option>
        </ion-select>
      </ion-item>
      <!-- Botón de Registro -->
      <ion-button expand="block" (click)="registrarUsuario()">Registrar</ion-button>
      <!-- Botón para volver al Home -->
      <ion-button expand="block" color="secondary" (click)="volverAlHome()">
        Volver al Home
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
