<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Estudiantes Escaneados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let estudiante of estudiantes">
      <ion-label>
        <h2>{{ estudiante.asignatura }}</h2>
        <p>Sección: {{ estudiante.seccion }}</p>
        <p>Sala: {{ estudiante.sala }}</p>
        <p>Fecha: {{ estudiante.fecha }}</p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarEstudiante(estudiante.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Mensaje cuando no hay estudiantes -->
  <ion-card *ngIf="estudiantes.length === 0">
    <ion-card-header>
      <ion-card-title>No hay estudiantes registrados</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
