.welcome-card {
    text-align: center;
    margin: 20px;
  }
  
  .heading img {
    max-width: 150px;
    margin: 0 auto;
  }
  
  .welcome-message {
    font-size: 1.5rem;
    color: #333;
  }
  
  .feature-card {
    margin-top: 20px;
  }
  
  .logo-img {
    max-width: 100%;
    height: auto;
  }
  