/* Estilos generales para ion-card */
ion-card {
  margin: 20px;
}

ion-card-header {
  background-color: #326cf1;
  border-radius: 10px 10px 0 0;
}

ion-card-title {
  font-weight: bold;
}

ion-card-content {
  padding: 15px;
}

/* Estilos para listas y elementos */
ion-list {
  margin: 0;
}

ion-item {
  --inner-padding-end: 0;
}

/* Estilos para el componente qrcode */
qrcode {
  display: block;
  margin: auto;
}

/* Estilos para botones */
button {
  margin-top: 10px;
}

/* Estilos específicos para tarjetas de bienvenida */
.welcome-card {
  text-align: center;
  margin: 20px;
}

.heading img {
  max-width: 150px;
  margin: 0 auto;
}

.welcome-message {
  font-size: 1.5rem;
  color: #333;
}

/* Estilos para tarjetas de características */
.feature-card {
  margin-top: 20px;
}

.logo-img {
  max-width: 100%;
  height: auto;
}
